// Box to hold skills circles
#my-skills-box {
	// Align and space circles
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;

	// Style each circle
	.my-skills-circle {
		// Position child elements on top
		& > * {
			z-index: 1;
		}

		// Position and style
		cursor: pointer;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		position: relative;

		// Inner circle behind content
		.my-skills-inner-circle {
			background-color: var(--secondary-color);
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			opacity: 0;
			scale: 0.3;
			transition: 0.2s;
			z-index: 0;
		}

		// Hover State
		&:hover {
			.my-skills-inner-circle {
				opacity: 0.2;
				scale: 1;
			}
		}

		// Active State
		&:active {
			.my-skills-inner-circle {
				scale: 0.7;
			}
		}

		// Shape, size
		min-width: 150px;
		min-height: 150px;
		border: 1px solid var(--secondary-color);
		border-radius: 100%;

		// Title
		.my-skills-title {
			color: var(--font-color);
			font-size: var(--mySkills-title-font-size);
		}
	}
}
